
.header{
    width: 100%;
    height: 120px;
    background-color: #f63f2e;
}
.header__nav{
    display: flex;
    justify-content: space-between;

}
.header__nav-list{
    display: flex;
    font-size: 15px;
    color:  var(--white-color);
    text-decoration: none;
    list-style-type: none;
    margin: 4px 20px 0;
}
.header__nav-item{
    margin: 0px 8px;
    cursor: pointer;
}
.header__nav-item span{
    cursor: no-drop;
}
.header_nav-item-icon{
    text-decoration: none;
    color: var(--white-color);
    margin-left: 8px;
}
.header__nav-item-link{
    text-decoration: none;
    color: var(--white-color);
}