
.header{
    width: 100%;
    height: 120px;
    background-color: #f63f2e;
}
.header__nav{
    display: flex;
    justify-content: space-between;

}
.header__nav-list{
    display: flex;
}
.header__nav-item{
    position: relative;
    display: block;
    font-size: 15px;
    color:  var(--white-color);
    text-decoration: none;
    list-style-type: none;
    font-weight: 300;
    margin: 0px 8px;
    cursor: pointer;
    padding: 8px 0;
}
.header_nav-item-icon{
    text-decoration: none;
    color: var(--white-color);
    margin-left: 8px;
}
.header__nav-item-link{
    text-decoration: none;
    color: var(--white-color);
}
.header__nav-item--strong{
    font-weight: 500;
}
.header__nav-item--separate::after{
    content: "";
    height: 20px;
    color: #fff;
    opacity: 0.5;
    border-left: 1px solid #fff;
    position: absolute;
    top: 50%;
    right: -8px;
    transform: translateY(-50%);
}
.header_nav-item-icon:hover,
.header__nav-item:hover,
.header__nav-item-link:hover{
    color: rgba(255, 255, 255, 0.7);
}
.header__nav-item span{
    cursor: default;
    color: var(--white-color);
}
/* <!-- header qr code --> */
.header__qr-code{
    position: absolute;
    width: 186px;
    background-color: var(--white-color);
    left: 0;
    padding: 8px;
    display: none;
    margin-top: 8px;
    animation: inFace ease 0.4s;
}
.header__qr-code-img{
    width: 100%;
}
.header__qr-code-app{
    display: flex;
    justify-content: space-evenly;
}
.header__app{
    height: 16px;
}
.header__nav-item--hover-qr:hover .header__qr-code{
    display: block;
}
@keyframes inFace{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
/* notify */
.header__notify{
    position: absolute;
    width: 404px;
    background-color: #fff;
    right: 0;
    top: 100%;
}
.header__notify-header{
    display: block;
}